<div *ngIf="hero"> <!-- you can put normal js expressions here, but for style purposes... -->
    <h2>{{hero.name}} details!</h2>
    <div><label>id: </label>{{hero.id}}</div>
    <div>
        <label>name: </label>
        <input type="text" 
            [ngModel]="hero.name"
            (ngModelChange)="onNameChange($event)"
            placeholder="name">
        <!-- two way binding will work for any property whose naming scheme
        matches the following "foo" for value input and "fooChange" for event 
        output, where "foo" can be any valid variable name -->
        <!--<input [(ngModel)]="hero.name" placeholder="name"> -->
    </div>
    <button (click)="goBack()">Back</button>
</div>